[Unit]
Description=Friday rework dedicated rootless Docker development runtime
Documentation=https://docs.docker.com/engine/security/rootless/
Requires=dbus.socket
After=dbus.socket

[Service]
Type=notify
NotifyAccess=all
ExecStart=/usr/bin/python3 /home/jericho/jericho/Friday_rework/.runtime/rootless-docker/launch.py
Restart=no
RuntimeMaxSec=120s
TimeoutStartSec=45s
TimeoutStopSec=20s
KillMode=control-group
SendSIGKILL=yes
Delegate=yes
DelegateSubgroup=dockerd
TasksMax=2048
MemoryHigh=12G
MemoryMax=20G
CPUQuota=800%
LimitNOFILE=65535
UMask=0077

[Install]
WantedBy=default.target
